.menu-link {
	--link-color: #fff;
	position: relative;
	display: inline-block;
	padding-bottom: 5px;
	color: var(--link-color);
	font-weight: 500;
	text-decoration: none;

	&::after {
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		content: "";
		display: block;
		height: 2px;
		width: 0;
		background-color: var(--link-color);
		transition: width 0.2s;

		@media (max-width: $lg) {
			display: none;
		}
	}

	&:focus,
	&:hover {
		outline: none;

		&::after {
			width: 100%;
		}
	}
}
