.workflow-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem;
	border-radius: 15px;
	box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
	background-color: #fff;

	@media (max-width: $md) {
		flex-direction: column-reverse;
		padding: 3rem;
	}

	@media (max-width: $sm) {
		padding: 2rem;
	}

	&__picture {
		flex-shrink: 0;
		width: 520px;
		margin-right: 6rem;

		@media (max-width: $lg) {
			width: auto;
			max-width: 360px;
			margin-right: 4rem;
		}

		@media (max-width: $md) {
			max-width: none;
			margin-right: 0;
			margin-top: 2rem;
		}
	}

	&__image {
		display: block;
		width: 100%;
		max-height: 290px;
		object-fit: cover;

		@media (max-width: $md) {
			max-height: none;
		}
	}

	&__small-image {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 15px;

		&--blue {
			background-color: #dae6ff;
		}

		&--purple {
			background-color: #e9e6ff;
		}

		&--light-blue {
			background-color: #ceedff;
		}
	}

	&__icon {
		width: 24px;
		height: 24px;

		&--blue {
			fill: #6e9cfd;
		}

		&--purple {
			fill: #8e7efc;
		}

		&--light-blue {
			fill: #4dbcfe;
		}
	}

	&__title {
		margin-top: 2rem;
		color: $font-black;
		font-size: 2.2rem;
		text-align: left;
	}

	&__text {
		margin-top: 1.5rem;
		color: $font-gray;
		line-height: 2.4rem;
		text-align: left;
	}
}
