.brands {
	padding: 185px 0;
	text-align: center;

	@media (max-width: $lg) {
		padding: 100px 0;
	}

	@media (max-width: $md) {
		padding: 60px 0;
	}

	&__subheading {
		max-width: 900px;
		margin: 25px auto 0;

		@media (max-width: $sm) {
			margin: 15px auto 0;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, 150px);
		gap: 45px 50px;
		align-items: center;
		justify-content: center;
		margin-top: 30px;
		padding: 0 20px;
	}

	&__link {
		max-width: 145px;

		&:focus-visible,
		&:hover {
			outline: none;
			text-decoration: none;
			filter: sepia(1) hue-rotate(-166deg) saturate(13.5);
		}

		@media (max-width: $lg) {
			&:focus-visible,
			&:hover {
				filter: none;
			}
		}
	}

	&__logo {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__text {
		max-width: 380px;
		margin: 40px auto 0;
		color: $font-black;
		line-height: 2.5rem;

		@media (max-width: $sm) {
			font-size: 1.4rem;
		}
	}
}
