.features {
	padding-bottom: 18rem;
	background: url("./images/bg-features.webp") no-repeat 50% 0 / contain;

	@media (max-width: $lg) {
		padding-bottom: 12rem;
	}

	@media (max-width: $lg) {
		background: none;
	}

	@media (max-width: $md) {
		padding-bottom: 8rem;
	}

	@media (max-width: $sm) {
		padding-bottom: 6rem;
	}

	&__subheading {
		max-width: 525px;
		margin-top: 2.5rem;

		@media (max-width: $lg) {
			max-width: none;
			margin-top: 1.5rem;
		}
	}

	&__items {
		margin-top: 3rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 25px 30px;

		@media (max-width: $lg) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: $sm) {
			grid-template-columns: 1fr;
		}
	}
}
