.features {
	padding-bottom: 180px;
	background: url("./images/bg-features.webp") no-repeat 50% 0 / contain;

	@media (max-width: $lg) {
		padding-bottom: 120px;
	}

	@media (max-width: $lg) {
		background: none;
	}

	@media (max-width: $md) {
		padding-bottom: 80px;
	}

	@media (max-width: $sm) {
		padding-bottom: 60px;
	}

	&__subheading {
		max-width: 525px;
		margin-top: 25px;

		@media (max-width: $lg) {
			max-width: none;
			margin-top: 15px;
		}
	}

	&__items {
		margin-top: 30px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 25px 30px;

		@media (max-width: $lg) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: $sm) {
			grid-template-columns: 1fr;
		}
	}
}
