.get-started {
	padding: 150px 0;
	background: url("./images/bg-get-started.webp") no-repeat 50% 0 / cover,
		linear-gradient(to bottom, $primary 50%, $bg-light 90%) no-repeat;
	color: #fff;

	@media (max-width: $lg) {
		padding: 100px 0;
	}

	@media (max-width: $md) {
		padding: 60px 0;
	}

	&__wrapper {
		display: flex;
		align-items: center;

		@media (max-width: $lg) {
			justify-content: center;
		}
	}

	&__column {
		&--left {
			max-width: 415px;
			margin-right: 130px;

			@media (max-width: $lg) {
				margin-right: 0;
			}
		}

		&--right {
			@media (max-width: $lg) {
				display: none;
			}
		}
	}

	&__heading {
		color: #ffffff80;
	}

	&__subheading {
		margin-top: 25px;
		color: #fff;

		@media (max-width: $sm) {
			margin-top: 15px;
		}
	}

	&__text {
		margin-top: 25px;
		font-size: 2rem;
		line-height: 3.4rem;

		@media (max-width: $sm) {
			font-size: 1.6rem;
			line-height: 2.4rem;
		}
	}

	&__button {
		margin-top: 30px;
	}

	&__image {
		display: block;
		width: 100%;
	}
}
