.promo {
	padding: 220px 0 90px;
	background: url("./images/bg-promo.webp") no-repeat 50% 0,
		linear-gradient(to bottom, $primary 20%, $bg-light 80%) no-repeat;
	color: #fff;
	text-align: center;

	@media (max-width: $xl) {
		background-position: 50% -125%;
	}

	@media (max-width: $lg) {
		padding: 160px 0;
		background-position: 50% 115%;
	}

	@media (max-width: $sm) {
		padding: 160px 0 100px;
		background-position: 50% 110%;
	}

	&__heading {
		font-size: 6.8rem;
		font-weight: 500;

		@media (max-width: $xl) {
			font-size: 5.8rem;
		}

		@media (max-width: $lg) {
			font-size: 4.2rem;
		}

		@media (max-width: $md) {
			font-size: 3.4rem;
		}

		@media (max-width: $sm) {
			font-size: 2.8rem;
		}
	}

	&__subheading {
		margin-top: 35px;
		font-size: 2rem;

		@media (max-width: $md) {
			font-size: 1.8rem;
		}

		@media (max-width: $sm) {
			margin-top: 25px;
			font-size: 1.6rem;
		}
	}

	&__button {
		margin-top: 50px;

		@media (max-width: $sm) {
			margin-top: 35px;
		}
	}

	&__image {
		display: block;
		width: 100%;
		margin-top: 40px;

		@media (max-width: $xl) {
			width: 900px;
			margin: 0 auto;
		}

		@media (max-width: $lg) {
			display: none;
		}
	}
}
