.workflow {
	padding: 195px 0 180px;
	background: url("./images/bg-workflow.webp") no-repeat 50% 0 / cover,
		linear-gradient(to bottom, $primary 20%, $bg-light 80%) no-repeat;
	text-align: center;

	@media (max-width: $lg) {
		padding: 100px 0;
	}

	@media (max-width: $md) {
		padding: 60px 0;
	}

	&__heading {
		color: #ffffff80;
	}

	&__subheading {
		margin-top: 15px;
		color: #fff;
	}

	&__description {
		max-width: 715px;
		margin: 25px auto 0;
		color: #fff;
		font-size: 2rem;
		line-height: 3.4rem;

		@media (max-width: $sm) {
			font-size: 1.6rem;
			line-height: 2.4rem;
		}
	}

	&__items {
		margin-top: 35px;
	}

	&__item {
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
