.workflow {
	padding: 19.5rem 0 18rem;
	background: url("./images/bg-workflow.webp") no-repeat 50% 0 / cover,
		linear-gradient(to bottom, $primary 20%, $bg-light 80%) no-repeat;
	text-align: center;

	@media (max-width: $lg) {
		padding: 10rem 0;
	}

	@media (max-width: $md) {
		padding: 6rem 0;
	}

	&__heading {
		color: #ffffff80;
	}

	&__subheading {
		margin-top: 1.5rem;
		color: #fff;
	}

	&__description {
		max-width: 715px;
		margin: 2.5rem auto 0;
		color: #fff;
		font-size: 2rem;
		line-height: 3.4rem;

		@media (max-width: $sm) {
			font-size: 1.6rem;
			line-height: 2.4rem;
		}
	}

	&__items {
		margin-top: 3.5rem;
	}

	&__item {
		margin-bottom: 4rem;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
